.tabla{
    width: 100%;
}

button{
    margin: 5px;
}

.listado-alumnos{
    padding: 16px;
}

th{
    text-align: center !important
}
td{
    text-align: center !important
}

.form-alumno{
    display: flex;
    justify-content: center;
    align-items: center;
}
