<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a mat-button>Primer Entrega Proyecto Final </a>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxLayout="column" mode="push" opened="false">
    <div fxLayout="column">
      <a href="#" mat-button>Listado de Alumnos</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-alumnos> </app-alumnos>
  </mat-sidenav-content>
</mat-sidenav-container>
